{% load static %}
<section id="pricing" class="section-padding">
    <div class="container">
      <div class="section-header text-center">          
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Pricing</h2>
        <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
      </div>
      <div class="row">
        
        {%for plano in planos %}
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="table wow fadeInUp" id="{{ plano.destaque }}" data-wow-delay="1.0s">
            <div class="icon-box">
              <i class="{{ plano.icone }}"></i>
            </div>
            <div class="pricing-header">
              <p class="price-value">${{ plano.preco }}<span> /mo</span></p>
            </div>
            <div class="title">
              <h3>{{ plano.plano }}</h3>
            </div>
            <ul class="description">
              <li>{{plano.usuario}} user</li>
              <li>{{plano.armazenamento}} GB storage</li>
              <li>{{plano.suporte}}</li>
              <li>{{plano.atualizacao}}</li>
            </ul>
            <button class="btn btn-common">Buy Now</button>
          </div> 
        </div>
        {% endfor %}

      </div>
    </div>
  </section>